@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  background: #fafbfc;
}

.header {
  background: blueviolet;

  text-align: center;
  color: #fff;

  padding: 10px;
}

.main {
  padding: 30px 50px;
}

.card {
  background: #fff;

  border: 1px solid #ccc;
  border-radius: 5px;

  padding: 20px;

  margin-top: 15px;
}

.line-input {
  display: grid;

  margin-bottom: 10px;
}

input {
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}

button {
  border: 0;
  border-radius: 3px;
  outline: 0;

  padding: 10px;

  color: #ccc;
  font-weight: 700;

  background: blueviolet;

  transition: all ease .3s;

  cursor: pointer;
}

button:hover {
  background: rgb(102, 31, 168);
}

.content {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;

  width: 100vw;
  max-width: 475px;
}

table th {
  background: rgb(214, 214, 214);

}

table th, td {
  text-align: left;

  padding: 1px 5px;
}

table td img {
  width: 22px;

  margin: 0 5px;
}

.center {
  text-align: center;
}

